@import "../../scss/mixins";

.PRT04 {
  padding: var(--spacing-60) var(--spacing-0) var(--spacing-80);

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone) {
      display: block;
    }
  }

  .Text {

    &__medium, &__large {
      margin-left: var(--spacing-50);
    }

    &__bigSmall {
      color: var(--color-grey-5);
      transform: rotate(-90deg);
    }
    &__large {
      span {
        display: block;
      }
    }

    &__small {
      margin-left: var(--spacing-15);
    }
  }


}

